@import '@taiga-ui/core/styles/taiga-ui-local';

@mixin transition($param: all, $speed: var(--tui-duration, 300ms)) {
  transition-property: $param;
  transition-duration: $speed;
  transition-timing-function: ease-in-out;
}
